* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#navbarcont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background-color: #131921;
  justify-content: space-evenly;
}

#logodiv {
  cursor: pointer;
  height: 30px;
  padding: 1px 8px 1px 6px;
  margin: 1px;
}

#logo {
  height: 30px;
  padding: 1px 8px 1px 6px;
  margin: 1px;
  object-fit: contain;
}

#deliveringdiv {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
}

#location {
  color: white;
}

#locationdiv {
  display: flex;
  flex-direction: column;
}

#locationdiv i {
  color: #d6d6d6;
  font-size: 14px;
  line-height: 39px;
  text-align: start;
}

#locationdiv {
  height: 35px;
  gap: 2px;
}

#deliverto {
  font-size: 12px;
  color: #cccccc;
  line-height: 14px;
  text-align: start;
}

#update {
  font-weight: 700;
  font-size: 14px;
  text-align: start;
  color: #ffffff;
  line-height: 15px;
}

#searchbarcont {
  width: 45%;
  height: 60px;
  padding: 8px;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchbarcont select {
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 10%;
  padding: 10px 4px 10px 3px;
  font-size: 14px;
  text-align: start;
  border: none;
  background-color: #e6e6e6;
}

#search {
  outline: 0;
  border: none;
  padding: 10px 4px 9px 3px;
  font-size: 15px;
  text-align: start;
  width: 80%;
  padding-left: 10px;
}

#searchicon {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 42px;
  background-color: #f3a847;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

#searchicon i {
  font-size: 20px;
  text-align: center;
  line-height: 1px;
  color: #131921;
}

#searchbarcont:focus {
  border: 1px solid #f3a847;
}

#logodiv:hover {
  border: 1px solid white;
  cursor: pointer;
}

#deliveringdiv:hover {
  border: 1px solid white;
  cursor: pointer;
}

#searchbarcont select:hover {
  cursor: pointer;
  background-color: #ccc6c6;
}

#searchicon:hover {
  cursor: pointer;
  background-color: #e48a0c;
}

#lanselectdiv {
  height: 50px;
  padding: 8px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#lang {
  border: none;
  background-color: #131921;
  color: #ccc6c6;
  font-size: 14px;
  text-align: start;
  line-height: 15px;
}

#flag {
  height: 26px;
  margin-bottom: 1px;
  margin-right: 2px;
}

#signindiv {
  height: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

#hello {
  color: #ccc6c6;
  font-size: 12px;
  text-align: start;
  line-height: 14px;
}

#account {
  background-color: #131921;
  color: #ccc6c6;
  font-size: 14px;
  text-align: start;
  line-height: 14px;
  border: none;
  font-weight: 700;
}

#signindiv:hover {
  cursor: pointer;
  border: 1px solid #ccc6c6;
}

#lanselectdiv:hover {
  cursor: pointer;
  border: 1px solid #ccc6c6;
}

#returndiv {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#returns {
  color: #ccc6c6;
  font-size: 12px;
  text-align: start;
  line-height: 14px;
}

#orders {
  background-color: #131921;
  color: #ccc6c6;
  font-size: 14px;
  text-align: start;
  line-height: 14px;
  font-weight: 700;
}

#cartdiv {
  height: 50px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#cartdiv i {
  font-size: 24px;
  color: #ccc6c6;
  text-align: start;
}

#cartdiv p {
  font-size: 14px;
  color: #ccc6c6;
  text-align: start;
  font-weight: 700;
  align-self: flex-end;
}

#returndiv:hover {
  cursor: pointer;
  border: 1px solid #ccc6c6;
}

#cartdiv:hover {
  cursor: pointer;
  border: 1px solid #ccc6c6;
}

#lanselectdiv {
  position: relative;
}

#langhoverdiv {
  z-index: 1;
  background-color: white;
  display: none;
  position: absolute;
  left: 0%;
  top: 110%;
  padding: 10px;
  border-radius: 7px;
  border: 0.5px solid #ccc6c6;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

#langmaindiv {
  text-wrap: nowrap;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.options {
  font-weight: 400;
  font-size: 12px;
  margin-right: 50px;
  margin-top: 7px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

#youareshopping {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

#inflag {
  height: 26px;
}

#youareshopping p {
  font-size: 12px;
  text-wrap: nowrap;
}

#learnmore a {
  font-size: 12px;
  text-decoration: none;
  color: #3578bc;
}

#learnmore {
  margin-top: 7px;
  padding-left: 30px;
}

#region {
  margin-top: 7px;
  padding-left: 30px;
}

#region a {
  font-size: 12px;
  text-decoration: none;
  color: #3578bc;
}

.options:hover {
  color: #c45500;
  text-decoration: underline;
}

#learnmore a:hover {
  color: #c45500;
  text-decoration: underline;
}

#region a:hover {
  color: #c45500;
  text-decoration: underline;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #c45500;
}

#option1 {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  height: 40px;
  border-bottom: 0.1px solid #ccc6c6;
}

#signindiv {
  position: relative;
}

/* #signindiv:hover #signinhoverdiv {
  display: block;
} */

#signinhoverdiv {
  z-index: 1;
  background-color: white;
  display: none;
  width: 450%;
  position: absolute;
  left: -250%;
  top: 110%;
  padding: 10px;
  border-radius: 7px;
  border: 0.5px solid #ccc6c6;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

#signinhoverbtndiv {
  border-bottom: 0.00001px solid #ccc6c6;
  text-wrap: nowrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#afterhoverbtn {
  border: none;
  background-color: #ffd814;
  padding: 10px 100px 10px 100px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

#newcustomer {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

#afterhoverbtn:hover {
  text-decoration: underline;
}

#newcustomer p {
  font-size: 12px;
}

#newcustomer a {
  font-size: 12px;
  text-decoration: none;
  color: #3578bc;
}

#newcustomer a:hover {
  color: #c45500;
  text-decoration: underline;
}

#yourlistdiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  padding: 5px;
}

#yourlistdiv p {
  font-size: 16px;
  color: #0f1111;
  font-weight: 700;
}

#youraccountdiv p {
  font-size: 16px;
  text-align: start;
  color: #0f1111;
  font-weight: 700;
}

#youraccountdiv {
  width: 50%;
  padding: 5px;
  border-left: 0.0001px solid #ccc6c6;
}

#secondsectioncontainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#youraccountdiv a {
  color: #444444;
  font-size: 13px;
  text-align: start;
  line-height: 16px;
  text-decoration: none;
}

#yourlistdiv a {
  text-wrap: nowrap;
  color: #444444;
  font-size: 13px;
  text-align: start;
  line-height: 16px;
  text-decoration: none;
  margin-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 101;
}

.backdrop {
  margin-top: 4%;
  background-color: rgba(0, 0, 0, 0.884);
  opacity: 0.5;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  display: none;
}

.dropdown:hover > .backdrop {
  display: block;
}

#signinhoverdiv:hover ~ .backdrop {
  display: none;
}

#yourlistdiv a:hover {
  color: #c45500;
  text-decoration: underline;
}

#youraccountdiv a:hover {
  color: #c45500;
  text-decoration: underline;
}

/* Navbar2 */

#navbar2cont {
  width: 100%;
  background-color: #232f3e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#allicon {
  font-weight: 700;
  color: white;
  gap: 10px;
  text-align: start;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 40px;
  padding: 7px 8px 7px 8px;
}

#allicon i {
  color: white;
  font-size: 25px;
}

#menuoptions a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
#menuoptions a:hover {
  border: 1px solid #cccccc;
}

#allicon i:hover {
  border: 1px solid #cccccc;
}
#allicon p:hover {
  border: 1px solid #cccccc;
}

#mainsectioncontainer {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 250px;
}

#lefticon {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50, -50);
}

#righticon {
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 10%;
  transform: translate(-50, -50);
}

#lefticon i {
  font-size: 40px;
  color: white;
}

#righticon i {
  font-size: 40px;
  color: white;
}

#bckgroundimg {
  width: 100%;
  height: auto;
}

#heroimg {
  width: 100%;
  height: auto;
}

#allicon {
  position: relative;
  cursor: pointer;
}

#allhoverdiv {
  width: 300px;
  z-index: 1;
  display: none;
  position: absolute;
  top: -160%;
  left: -5%;
  flex-direction: column;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

#hellosignnav {
  padding-left: 30px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232f3e;
  width: 120%;
  cursor: pointer;
}

#crossicon {
  text-align: end;
}

#hellofirstsec {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profilesignin {
  text-wrap: nowrap;
  font-size: 19px;
  white-space: nowrap;
  line-height: 25px;
  font-weight: 700;
}

#hellosignnav i {
  height: 25px;
  width: 27px;
  margin: 0 10px 0 36px;
}

#trendingmenuoptionscont {
  padding-left: 60px;
  width: 120%;
  color: #0f1111;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
  height: 100vh;
}

#trendingmenuoptionscont p {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 12px;
}

.headings {
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #111;
}

.borders {
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 0.00001px solid #ccc6c6;
}

#allhoverdiv {
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


.firstimgdiv{
  width: 130px;
  height: 102px;
}

.secondimgdiv{
  width: 130px;
  height: 102px;
}

.secondimgdiv{
  width: 130px;
  height: 102px;
}

.thirdimgdiv{
  width: 130px;
  height: 102px;
}

.forthimgdiv{
  width: 130px;
  height: 102px;
}


.firstimgdiv img {
  width: 100%;
  object-fit: contain;
}

.firstimgdiv p{
  font-size: 11px;

}

.secondimgdiv img {
  width: 100%;
  object-fit: contain;
}

.secondimgdiv p{
  font-size: 11px;

}

.thirdimgdiv img {
  width: 100%;
  object-fit: contain;
}

.thirdimgdiv p{
  font-size: 11px;

}

.forthimgdiv img {
  width: 140px;
  object-fit: contain;
}

.forthimgdiv p{
  font-size: 11px;

}

.cardcontainer {
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  position: absolute;
  top: 63%;
}


.firstsection {
  height: 140px;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;

}

.secondsection {
  height: 140px;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.cardcontainer h1 {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 700;
  line-height: 27.3px;
}

.cardcontainer2 h1 {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 700;
  line-height: 27.3px;
}


#endofseson {
  text-decoration: none;
  margin-top: 10px;
  color: #3578bc;
  font-size: 12px;
}

#endofseson:hover {
  text-decoration: underline;
  color: #c45500;
}

.firstimgdiv:hover {
  cursor: pointer;
}

.secondimgdiv:hover {
  cursor: pointer;
}

.thirdimgdiv:hover {
  cursor: pointer;
}

.forthimgdiv:hover {
  cursor: pointer;
}


#card1{
  padding: 15px;
 width:326px;
 height: 420px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

#card2{
  padding: 15px;
  width:326px;
  height: 420px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

#wholecardcont{
  width: auto;
  height: auto;
}

#card3{
  padding: 15px;
  width:326px;
  height: 420px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

#card4{
  padding: 15px;
  width:326px;
  height: 420px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}


#exploreall{
  font-size: 12px;
  vertical-align: bottom;
  text-decoration: none;
  color: #3578bc;
}

#exploreall:hover{

text-decoration: underline;
color: #c45500;

}

.cardcontainer2 {
  padding: 10px;
  background-color: #E3E6E6;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
}

#card5{
  padding: 15px;
  width:326px;
  height: 420px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
}


#card6{
  padding: 15px;
  width:326px;
  height: 420px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

#card7{
  padding: 15px;
  width:326px;
  height: 420px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

#card8{
  padding: 15px;
  width:326px;
  height: 420px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
}


/* cardcontainer3 */

#cardcontainer3{
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);

}  


.imgdiv{
  background-color: #FFFFFF;
  width: 240px;
  height: 200px;
  display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 
}


.headingsec{
  width: 920px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
  
}

.headingsec h2{
  font-size: 21px;
  color: #0f1111;
}



.title1div{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 10px;
  margin-top: 20px;
}

.title1{
  background-color: #CC0C39;
  color: white;
  padding: 4px 8px;
  text-wrap: nowrap;
  font-size: 12px;
 

  
}

.title2{
 color: red;
 text-wrap: nowrap;
  font-size: 12px;
 
  
}

#Seeall{
  width: 94px;
  height: 35px;
  padding: 5px;
}

#Seeall a{
  font-size: 14px;
  color: #007185;
  text-decoration: none;
}


#Seeall a:hover{
  
  color: #c45500;
  text-decoration: underline;
}

.des1{
  margin-top: 10px;
  font-size: 13px;
  color: #0f1111;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
}

#cardcontainer3{
  position: relative;
}
#leftslideicon{
  position: absolute;
  top: 55%;
  left: 2%;

  
}

#leftslideicon i{
  color: #0f1111;
  font-size: 32px;
  cursor: pointer;
}


#rightslideicon{
  position: absolute;
  top: 55%;
  right: 2%;
  
}


#rightslideicon i{
  color: #0f1111;
  font-size: 32px;
  cursor: pointer;
}


#leftslideicon,
#rightslideicon {
  position: fixed;
  top: 50%;
  transform: translateY(-50%,-50%);
  z-index: 999; 
}

.headingsec{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}


 .imgdiv{
      width: 240px;
      height: 200px;
      background-color: white;
      display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     
  }
 
  
  #cardcontainer4{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      gap: 20px;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 300px;
      overflow: hidden;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  }

  #seealloffers a{
    font-size: 14px;
    color: #007185;
    text-decoration: none;
  }
  
  
  #seealloffers a:hover{
    color: #c45500;
    text-decoration: underline;
  }


#cardcontainer4{
  position: relative;
}


#leftslide{
  position: absolute;
  top: 55%;
  left: 1%;

  
}

#leftslide i{
  color: #0f1111;
  font-size: 2rem;
  cursor: pointer;
}


#rightslide{
  position: absolute;
  top: 55%;
  right: 1%;
  
}


#rightslide i{
  color: #0f1111;
  font-size: 2rem;
  cursor: pointer;
}


#leftslide,
#rightslide {
  position: fixed;
  top: 50%;
  transform: translateY(-50%,-50%);
  z-index: 1; 
}


/* furniture- card */


#offers a{
  font-size: 14px;
  color: #007185;
  text-decoration: none;
}


#offers a:hover{
  color: #c45500;
  text-decoration: underline;
}


#cardcontainer5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);

}


#cardcontainer5{
  position: relative;
}


#leftarrow{
  position: absolute;
  top: 55%;
  left: 1%;

  
}

#leftarrow i{
  color: #0f1111;
  font-size: 2rem;
  cursor: pointer;
}


#rightarrow{
  position: absolute;
  top: 55%;
  right: 1%;
  
}


#rightarrow i{
  color: #0f1111;
  font-size: 2rem;
  cursor: pointer;
}


#leftarrow,
#rightarrow {
  position: fixed;
  top: 70%;
  transform: translateY(-50%,-50%);
  z-index: 1; 
}

/* small bussiness card */

#alloffers a{
  font-size: 14px;
  color: #007185;
  text-decoration: none;
}


#alloffers a:hover{
  color: #c45500;
  text-decoration: underline;
}



#cardcontainer6{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);

}



#leftoptions{
  position: absolute;
  top: 55%;
  left: 1%;
 
}

#leftoptions i{
  color: #0f1111;
  font-size: 2rem;
  cursor: pointer;
}


#rightoptions{
  position: absolute;
  top: 55%;
  right: 1%;
  
}


#rightoptions i{
  color: #0f1111;
  font-size: 2rem;
  cursor: pointer;
}


#leftoptions,
#rightoptions {
  position: fixed;
  top: 70%;
  transform: translateY(-50%,-50%);
  z-index: 1; 
}

#rightoptions:hover{
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}



#leftoptions:hover{
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#rightarrow:hover{
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#leftarrow:hover{
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftslideicon:hover{
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rightslideicon:hover{
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rightslide:hover{
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftslide:hover{
  height: 100px;
  width: 50px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* footer-section */

#footer-section1{
  padding: 10px;
  margin-top: 60px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



#content{
padding: 10px;
width: 100%;
height: 126px;
border-top: 0.7px solid #e7e7e7;
border-bottom: 0.7px solid #e7e7e7;
display: flex;
flex-direction: column;
align-items: center;

}

#personalized{
font-size: 13px;
text-align: center;
width: 858px;
height: 15px;
margin-top: 10px;
}

#footersiginbtn{
width: 898px;
padding: 10px;
text-align: center;
}

#signfooterbtn{
width: 230px;
font-size: 12px;
border-radius: 4px;
cursor: pointer;
height: 28px;
color: #000;
font-size: 12px;
line-height: 28px;
text-align: center;
font-weight: 700;
text-decoration: none;
text-shadow: 0 1px 0 #ffe093;
background-color: #FFCC4B;
border: none;

}

#newcustomerdiv{
text-align: center;
width: 858px;
height: 15px;
font-size: 11px;
}

#newcustomerdiv a{
cursor: pointer;
color: #007185;
text-decoration: none;
}

#newcustomerdiv a:hover{
color: #C7511F;
}


#backtoptopdiv{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  
}

#backtoptopdiv p{
  padding: 10px 0;
  line-height: 19px;
  font-size: 13px;
  background-color: #37475A;
  color: #DDDD;
}


#footeroptionscont{
  width: 100%;
  background-color: #232F3E;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#footeroptions{
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 120%;
  margin-top: 20px;
}

.gettoknowuscont{
  height: 300px;
  width: 150px;
  display: flex;
  flex-direction: column;
  color: #DDDD;
  padding: 0 10px;
  text-wrap: nowrap;

}

.gettoknowusheading{
  font-size: 16px;
  margin: 6px 0 14px 0;
  font-weight: 700;
  color: #DDDD;

}

.footeroptionslist li {
  list-style-type: none;
  margin-top: 10px;
  
  

}

.footeroptionslist li a{
  color: #DDDD;
  text-decoration: none;
  font-size: 12px;
 
}


.footeroptionslist li a:hover{
  text-decoration: underline;
 

}

#makemoneywithusheading{
  font-size: 16px;
  margin: 6px 0 14px 0;
  font-weight: 700;
  color:#DDDD;

}

#letushelpyouheading{
  font-size: 16px;
  margin: 6px 0 14px 0;
  font-weight: 700;
  color: #DDDD;

}


#letushelpyoucont{
  height: 300px;
  display: flex;
  flex-direction: column;
  color: #DDDD;
  padding: 0px 10px;
  text-wrap: nowrap;

}


#makemoneywithuscont{
  height: 300px;
  display: flex;
  flex-direction: column;
  color: #DDDD;
  padding: 0 10px;
  text-wrap: nowrap;

}

#differentcountrydiv{
  width: 100%;
  height: 189px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.005px solid #DDDD;

}



#footerlogodiv{
  display: flex;
  align-items: center;
  height: auto;
  width: 70%;
  margin-top: 18px;
  justify-content:center;
  gap: 30px;

}


#footerlogo{
  width: 76px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#footerlogo img{
  width: 100%;
  height: 100%;
}

#footerlangdiv{
  border-radius: 4px;
  width: 120px;
  height: 34px;
  display: flex;
  align-items: center;
  border: 0.005px solid #DDDD;

}



#lanselct{
  outline: none;
  padding: 5px 10px;
  background-color: #232F3E;
  color:  #DDDD;
  border: none;
}

#globeicon{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 76px;
  height: 23px;
  color:  #DDDD;
  vertical-align: middle;
}

#differentcountries{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 70%;
  margin-top: 10px;
  justify-content:center;
  gap: 5px;
  padding-bottom: 30px;
  

}

#differentcountries p{
  color: #DDDD;
  font-size: 12px;
  margin-right: 6px;
 
 
}

#differentcountries p:hover{
  text-decoration: underline;
  cursor: pointer;
  
}

#footersection2{
  background-color: #131A22;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#amazonservices{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 70%;

}


#abebookscont{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.serviceshead {
  color:#DDDDDD;
  font-size: 12px;

}

.serviceanchor{
  color: #99998A;
  text-decoration: none;
  font-size: 12px;
  

}

#shopbopcont{
  height: auto;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

#shopbop{
  width: 15%;
  height: 60px;
}

#AmazonBusiness{
  width: 15%;
  height: 60px;
}

#PrimeNow{
  width: 15%;
  height: 60px;

}

#AmazonPrimeMusic{
  width: 15%;
  height: 60px;

}

#IMDb{
  width: 15%;
  height: 60px;

}

#Audible{
  width: 15%;
  height: 60px;

}

#AWS{
  width: 15%;
  height: 60px;
}

#abebooks{
  width: 15%;
  height: 60px;
}

#copyrightsection{
  width: 100%;
  margin: 20px;
  height: auto;
  background-color: #131A22;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#copyrightsection p{
  color: #DDDD;
  font-size: 12px;
}