
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}


#navbarcont{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #131921;
    justify-content: space-evenly;

}

#logodiv{
    cursor: pointer;
    height: 30px;
    padding: 1px 8px 1px 6px;
    margin: 1px;
}

#logo{
    height: 30px;
    padding: 1px 8px 1px 6px;
    margin: 1px;
    object-fit: contain;
}

#deliveringdiv{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
   
}

#location{
    color: white;
}





#locationdiv{
    display: flex;
    flex-direction: column;
}

#locationdiv i{
    color: #d6d6d6;
    font-size: 14px;
    line-height: 39px;
    text-align: start;
    

}

#locationdiv{
    height: 35px;
    gap: 2px;
}

#deliverto{
   font-size: 12px;
   color: #cccccc;
   line-height: 14px;
   text-align: start;

}

#update{
    font-weight: 700;
    font-size: 14px;
    text-align: start;
    color: #ffffff;
    line-height: 15px;

}

#searchbarcont{
    width: 45%;
    height: 60px;
    padding: 8px;
    text-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#searchbarcont select{
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 10%;
    padding: 10px 4px 10px 3px;
    font-size: 14px;
    text-align: start;
    border: none;
    background-color: #E6E6E6;
}

#search{
    outline: 0;
    border: none;
    padding: 10px 4px 9px 3px;
    font-size: 15px;
    text-align: start;
    width: 80%;
    padding-left: 10px;

}

#searchicon{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 42px;
    background-color: #f3a847;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

#searchicon i{
    font-size: 20px;
    text-align: center;
    line-height: 1px;
    color: #131921;
}

#searchbarcont:focus{
    border: 1px solid  #f3a847;;
}


#logodiv:hover{
    border: 1px solid white;
    cursor: pointer;
}

#deliveringdiv:hover{
    border: 1px solid white;
    cursor: pointer;

}

#searchbarcont select:hover{
    cursor: pointer;
    background-color: #ccc6c6;

}

#searchicon:hover{
    cursor: pointer;
    background-color: #e48a0c;

}


#lanselectdiv{
    height: 50px;
    padding: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

#lang{
    border: none;
    background-color: #131921;
    color: #ccc6c6;
    font-size: 14px;
    text-align: start;
    line-height: 15px;

}

#flag{
    height: 26px;
    margin-bottom: 1px;
    margin-right: 2px;
}

#signindiv{
    height: 50px;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    
}


#hello{
color: #ccc6c6;
font-size: 12px;
text-align: start;
line-height: 14px;

}

#account{
background-color: #131921;
color: #ccc6c6;
font-size: 14px;
text-align: start;
line-height: 14px;
border: none;
font-weight: 700;

}

#signindiv:hover{
    cursor: pointer;
    border: 1px solid #ccc6c6;
}

#lanselectdiv:hover{
    cursor: pointer;
    border: 1px solid #ccc6c6;
}

#returndiv{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}


#returns{
    color: #ccc6c6;
    font-size: 12px;
    text-align: start;
    line-height: 14px;
}


#orders{
    background-color: #131921;
    color: #ccc6c6;
    font-size: 14px;
    text-align: start;
    line-height: 14px;
    font-weight: 700;
    
}

#cartdiv{
    height: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#cartdiv i{
    font-size: 24px;
    color: #ccc6c6;
    text-align: start;
}

#cartdiv p{
    font-size: 14px;
    color: #ccc6c6;
    text-align: start;
    font-weight: 700;
    align-self: flex-end;

}

#returndiv:hover{
    cursor: pointer;
    border: 1px solid #ccc6c6;

}

#cartdiv:hover{
    cursor: pointer;
    border: 1px solid #ccc6c6;

}

#lanselectdiv{
    position: relative;
   
}

#langhoverdiv{
    background-color: white;
    display: none;
    position: absolute;
    left: 0%;
    top: 110%;
    padding: 10px;
    border-radius: 7px;
    border: 0.5px solid #ccc6c6;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1);
}

#langmaindiv{
    text-wrap: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.options{
    font-weight: 400;
    font-size: 12px;
    margin-right: 50px;
    margin-top: 7px;
    height: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   gap: 7px;
}

#youareshopping{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

#inflag{
    height: 26px;
}

#youareshopping p{
    font-size: 12px;
    text-wrap: nowrap;
}


#learnmore a{
    font-size: 12px;
    text-decoration: none;
    color: #3578BC;
    
}

#learnmore{
    margin-top: 7px;
    padding-left: 30px;
}

#region{
    margin-top: 7px;
    padding-left: 30px;
}

#region a{
    font-size: 12px;
    text-decoration: none;
    color: #3578BC;
   
}

.options:hover{
    color: #c45500;
    text-decoration: underline;
}

#learnmore a:hover{
    color: #c45500;
    text-decoration: underline;

}

#region a:hover{
    color: #c45500;
    text-decoration: underline;

}


input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
  }
  
  input[type="radio"]:checked {
    background-color: #c45500;
  }

  #option1{
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    height: 40px;
    border-bottom: 0.1px solid #ccc6c6;
  }


  #signindiv{
    position: relative;
  }


  #signinhoverdiv{
    background-color: white;
    display: none;
    width: 450%;
    position: absolute;
    left: -250%;
    top: 110%;
    padding: 10px;
    border-radius: 7px;
    border: 0.5px solid #ccc6c6;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1);
    
}


#signinhoverbtndiv{
    border-bottom: 0.00001px solid #ccc6c6;
    text-wrap: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#afterhoverbtn{
    border: none;
    background-color: #FFD814;
    padding: 10px 100px 10px 100px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
}

#newcustomer{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    
}

#afterhoverbtn:hover{
    text-decoration: underline;
}



#newcustomer p{
    font-size: 12px;
}

#newcustomer a{
    font-size: 12px;
    text-decoration: none;
    color: #3578BC;
    
}

#newcustomer a:hover{
    color: #c45500;
    text-decoration: underline;
}



#yourlistdiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding: 5px;
}

#yourlistdiv p{
    font-size: 16px;
    color: #0f1111;
    font-weight: 700;

}

#youraccountdiv p{
    font-size: 16px;
    text-align: start;
    color: #0f1111;
    font-weight: 700;

}

#youraccountdiv{
    width: 50%;
    padding: 5px;
    border-left: 0.0001px solid #ccc6c6;
   

}

#secondsectioncontainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
}

#youraccountdiv a{
    color: #444444;
    font-size: 13px;
    text-align: start;
    line-height: 16px;
    text-decoration: none;

}

#yourlistdiv a{
    text-wrap: nowrap;
    color: #444444;
    font-size: 13px;
    text-align: start;
    line-height: 16px;
    text-decoration: none;
    margin-top: 10px;

}

#yourlistdiv a:hover{
    color: #c45500;
    text-decoration: underline;
}

#youraccountdiv a:hover{
    color: #c45500;
    text-decoration: underline;
}


/* Navbar2 */

#navbar2cont{
    width: 100%;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#allicon{
    font-weight: 700;
    color: white;
    gap: 10px;
    text-align: start;
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 40px;
    padding: 7px 8px 7px 8px;
}

#allicon i{
    color: white;
    font-size: 25px;
}

#menuoptions a{
    text-decoration: none;
    color: white;
   margin-right: 10px;
}
#menuoptions a:hover{
    border: 1px solid #cccccc;
}


#allicon:hover{
    border: 1px solid #cccccc;

}

#mainsectioncontainer{
    width: 100%;
    height: auto;
}

#bckgroundimg{
    width: 100%;
    height: auto;
}

#heroimg{
    width: 100%;
    height: auto;
  
}
